.profile_pic{
width:70px;
height:70px;
border-radius:50%;
}
.chatMember{
width:90%;
height:75px;
margin-left:auto;
margin-right:auto;
margin-top:8px;
padding:5px;
background-color:rgb(255,255,255);
}
#chatMembers{
width:100%;
height:100%;
margin:auto;
overflow:auto;
background-color:rgba(0,0,0,0.2);
}
.profilePicContainer{
float:right;
}
#chatMessageWindow{
width:90%;
height:100%;
margin-left:auto;
margin-right:auto;
padding:5px;
}

.chatMemberProfileInfo{
width:90%;
height:15%;
margin-left:auto;
margin-right:auto;
margin-top:8px;
padding:5px;
}
.chatMessagebox{
width:90%;
height:65%;
margin-left:auto;
margin-right:auto;
overflow-y:auto;
padding:5px;
}
.chatInputbox{
width:90%;
height:10%;
margin-left:auto;
margin-right:auto;
margin-top:8px;
padding:5px;
}
#chatInputtext{
width:100%;
height:70%;
margin-left:auto;
margin-right:auto;
}
#chatInputSendbtn{
width:18%;
height:70%;
margin-left:auto;
margin-right:auto;
}
#chatSettingsWindow{
width:90%;
height:100%;
margin-left:auto;
margin-right:auto;
padding:5px;
}
#settingsPane{
width:90%;
height:98%;
margin-left:auto;
margin-right:auto;
padding:5px;
}
